{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

{% include "Common/header.html" %}


<body class="nav-md">

  <div class="container body">
    <div class="main_container">

      <!-- navbar content -->
      {% include "Common/navbar.html" %}
      <!-- /navbar content -->

      <!-- page content -->
      <div class="right_col" role="main">
        <form action="/projectes/crear" method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Submit" />
        </form>
      </div>
      <!-- /page content -->

      <!-- footer content -->
      {% include "Common/footer.html" %}
      <!-- /footer content -->
    </div>
  </div>

  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>

  <!-- Datepicker -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
    });
  </script>
  <!-- /Datepicker -->
  
</body>

</html>
