{% extends "Common/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">            
        <div class="x_content">
          <!-- Cabecera -->
          <div class="x_title">
            <h2>Editar Projecte</h2>
            
            <div class="clearfix"></div>
          </div>

          <form action="/projectes/update" method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
              <div class="form-group"><div class="col-md-6 col-sm-6 col-xs-12">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"
                 for="{{ field.name }}">{{ field.label }}</label>
                  {{ field }}
                  {% if field.label == "Objectius" %}
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" style="float:none">
                      <br><button id='lleva' type="button" href="asd" class="btn btn-danger">Lleva objectiu</button>
                    </div>
                  {% endif %}
                  {% if field.label == "Objectius restants" %}
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" style="float:none">
                      <br><button id='afegeix' type="button" class="btn btn-info">Afegeix objectiu</button>
                    </div>
                  {% endif %}
                  <div class="clearfix"></div><br>
                {% endfor %}

                {% for field in form.hidden_fields %}
                  <div style="display:none;">{{ field }}</div>
                {% endfor %}
                <hr>
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="submit" value="Edita" class="btn btn-success"/>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<!-- Datepicker -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
    });
  </script>
<!-- /Datepicker -->

<!-- Eliminar objetivos -->
  <script>
    $('#lleva').click(function() {
      var csrftoken = getCookie('csrftoken');
      var objectius = $('#id_Objectius').val();
      // Eliminamos los seleccionados mediante consulta AJAX
      $.ajax({
             type: "POST",
             url: "/lleva/objectiu/projecte/{{projecte_id}}",
             data: { csrfmiddlewaretoken : csrftoken,
              'obj[]': objectius.join(", ") },
             success: function(data)
             {
                console.log(data['response']);
                // Movemos los seleccionados a lista de otros objetivos
                $('#id_Objectius').find(':selected').appendTo('#id_Objectius_Restants');
             }, error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText);
             }
          });
    });
  </script>

  <!-- Añadir objetivos -->
  <script>
    $('#afegeix').click(function() {
      var csrftoken = getCookie('csrftoken');
      var objectius = $('#id_Objectius_Restants').val();
      // Eliminamos los seleccionados mediante consulta AJAX
      $.ajax({
             type: "POST",
             url: "/afegeix/objectiu/projecte/{{projecte_id}}",
             data: { csrfmiddlewaretoken : csrftoken,
              'obj[]': objectius.join(", ") },
             success: function(data)
             {
                // Movemos los seleccionados a lista de objetivos actuales
                $('#id_Objectius_Restants').find(':selected').appendTo('#id_Objectius');
             }, error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText);
             }
          });
    });
  </script>
{% endblock %}