{% extends "Common/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">            
        <div class="x_content">
          <!-- Cabecera -->
          <div class="x_title">
            <h2>Editar Objectiu</h2>
            
            <div class="clearfix"></div>
          </div>

          <form action="/objectius/update" method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
              <div class="form-group"><div class="col-md-6 col-sm-6 col-xs-12">
                {% csrf_token %}
                {% for field in form %}
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"
                 for="{{ field.name }}">{{ field.label }}</label>
                  {{ field }}

                  {% if field.label == "Principis" %}
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" style="float:none">
                      <br><button id='lleva_principis' type="button" href="asd" class="btn btn-danger">Lleva principis</button>
                    </div>
                  {% endif %}

                  {% if field.label == "Principis restants" %}
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" style="float:none">
                      <br><button id='afegeix_principis' type="button" class="btn btn-info">Afegeix principis</button>
                    </div>
                  {% endif %}

                  {% if field.label == "Projectes" %}
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" style="float:none">
                      <br><button id='lleva_projectes' type="button" href="asd" class="btn btn-danger">Lleva projectes</button>
                    </div>
                  {% endif %}

                  {% if field.label == "Projectes restants" %}
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" style="float:none">
                      <br><button id='afegeix_projectes' type="button" class="btn btn-info">Afegeix projectes</button>
                    </div>
                  {% endif %}

                  {% if field.label == "Metriques" %}
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" style="float:none">
                      <br><button id='lleva_metriques' type="button" href="asd" class="btn btn-danger">Elimina mètriques</button>
                    </div>
                  {% endif %}
                  <br><br>
                {% endfor %}
                <hr>
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <input type="submit" value="Edita" class="btn btn-success"/>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <!-- Eliminar principios -->
  <script>
    $('#lleva_principis').click(function() {
      var csrftoken = getCookie('csrftoken');
      var principis = $('#id_Principis').val();
      // Eliminamos los seleccionados mediante consulta AJAX
      $.ajax({
             type: "POST",
             url: "/lleva/principi/{{objectiu_id}}",
             data: { csrfmiddlewaretoken : csrftoken,
              'obj[]': principis.join(", ") },
             success: function(data)
             {
                console.log(data['response']);
                // Movemos los seleccionados a lista de otros principios
                $('#id_Principis').find(':selected').appendTo('#id_Principis_Restants');
             }, error: function (jqXHR, textStatus, errorThrown){
                console.log(jqXHR.responseText);
             }
          });
    });
  </script>

  <!-- Añadir principios -->
  <script>
    $('#afegeix_principis').click(function() {
      var csrftoken = getCookie('csrftoken');
      var principis = $('#id_Principis_Restants').val();
      // Eliminamos los seleccionados mediante consulta AJAX
      $.ajax({
             type: "POST",
             url: "/afegeix/principi/{{objectiu_id}}",
             data: { csrfmiddlewaretoken : csrftoken,
              'obj[]': principis.join(", ") },
             success: function(data)
             {
                // Movemos los seleccionados a lista de principios actuales
                $('#id_Principis_Restants').find(':selected').appendTo('#id_Principis');
             }, error: function (jqXHR, textStatus, errorThrown){
                console.log(jqXHR.responseText);
             }
          });
    });
  </script>    

  <!-- Eliminar proyectos -->
  <script>
    $('#lleva_projectes').click(function() {
      var csrftoken = getCookie('csrftoken');
      var projectes = $('#id_Projectes').val();
      // Eliminamos los seleccionados mediante consulta AJAX
      $.ajax({
             type: "POST",
             url: "/lleva/projecte/{{objectiu_id}}",
             data: { csrfmiddlewaretoken : csrftoken,
              'obj[]': projectes.join(", ") },
             success: function(data)
             {
                console.log(data['response']);
                // Movemos los seleccionados a lista de otros principios
                $('#id_Projectes').find(':selected').appendTo('#id_Projectes_Restants');
             }, error: function (jqXHR, textStatus, errorThrown){
                console.log(jqXHR.responseText);
             }
          });
    });
  </script>

  <!-- Añadir proyectos -->
  <script>
    $('#afegeix_projectes').click(function() {
      var csrftoken = getCookie('csrftoken');
      var projectes = $('#id_Projectes_Restants').val();
      // Eliminamos los seleccionados mediante consulta AJAX
      $.ajax({
             type: "POST",
             url: "/afegeix/projecte/{{objectiu_id}}",
             data: { csrfmiddlewaretoken : csrftoken,
              'obj[]': projectes.join(", ") },
             success: function(data)
             {
                // Movemos los seleccionados a lista de principios actuales
                $('#id_Projectes_Restants').find(':selected').appendTo('#id_Projectes');
             }, error: function (jqXHR, textStatus, errorThrown){
                console.log(jqXHR.responseText);
             }
          });
    });
  </script>  

  <!-- Eliminar métricas -->
  <script>
    $('#lleva_metriques').click(function() {
      var csrftoken = getCookie('csrftoken');
      var metricas = $('#id_Metriques').val();
      // Eliminamos los seleccionados mediante consulta AJAX
      $.ajax({
             type: "POST",
             url: "/lleva/metrica/{{objectiu_id}}",
             data: { csrfmiddlewaretoken : csrftoken,
              'obj[]': metricas.join(", ") },
             success: function(data)
             {
                console.log(data['response']);
                // Movemos los seleccionados a lista de otros principios
                $('#id_Metriques').find(':selected').remove();
             }, error: function (jqXHR, textStatus, errorThrown){
                console.log(jqXHR.responseText);
             }
          });
    });
  </script>
{% endblock %}
