{% extends "Common/base.html" %}

{% block content %}
	<div class="row">
	  <div class="col-md-12">
	    <div class="x_panel">
	      <div class="x_title">
	        <h2>Objectius</h2>
	        <div class="clearfix"></div>
	      </div>

	      <div class="x_content">
	      	{% if error_msg %}
		      	<div class="alert alert-danger" style="text-align: center;">
	            <h5 style="color:white">{{ error_msg }}</h5><br>
		        </div>
		      {% endif %}
	        <p>Llistat d'objectius de l'organització</p>

	        <table class="table table-striped projects">
	          <thead>
	            <tr>
	              <th style="width: 1%">ID</th>
	              <th style="width: 20%">Objectiu</th>
	              <th style="width: 20%">Descripcio</th>
	              <th style="width: 20%">Principis</th>
	              <th style="width: 20%">Mètriques</th>
	              <th style="width: 20%">Projectes</th>
	              <th style="width: 20%">Opcions</th>
	            </tr>
	          </thead>
	          <tbody>

	          	{% for objectiu in objectius %}

		            <tr>
		            	<!-- Id del objectius -->
		              <td>
		              	{{ objectiu.id }}
		              </td>
	              	
	              	<!-- Nom -->
		              <td>
		                {{ objectiu.nom }}
		              </td>

									<!-- Descripció -->
		              <td>
		                {{ objectiu.descripcio }}
		              </td>

		              <!-- Principis -->
		              <td>
		              	{% for principi in objectiu.principis_objectius.all %}
		              		{{ principi.nom }}
		              		<br>
            				{% endfor %}
		              </td>

		              <!-- Mètriques -->
		              <td>
										{% for metrica in metriques %}
											{% if metrica.objectiu_id == objectiu.id %}
	            					{{ metrica.nom }}
	            					<br>
	            				{% endif %}
	            			{% endfor %}
		              </td>

		              <!-- Mètriques -->
		              <td>
		              	{% for projecte in objectiu.projectes_objectius.all %}
		              		{{ projecte.nom }}
		              		<br>
            				{% endfor %}
		              </td>

		              <!-- Opcions -->
		              <td>
  		              <a href="/objectius/{{ objectiu.id }}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Visualitza </a>
		                <a href="/objectius/edita/{{ objectiu.id }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edita </a>
		                <a href="/objectius/elimina/{{ objectiu.id }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Esborra </a>
		              </td>
		            </tr>

	            {% endfor %}

	          </tbody>
	        </table>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}