{% extends "Common/base.html" %}

{% block content %}
  <!-- top tiles -->
  <div class="row tile_count">
    <div class="animated flipInY col-md-4 col-sm-4 col-xs-4 tile_stats_count">
      <div class="left"></div>
      <div class="right">
        <span class="count_top"><i class="fa fa-university"></i> Patrimoni </span>
        <div class="count green">{{ pressupost_total }} €</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>4% </i>Del mes anterior</span>
      </div>
    </div>
    <div class="animated flipInY col-md-4 col-sm-4 col-xs-4 tile_stats_count">
      <div class="left"></div>
      <div class="right">
        <span class="count_top"><i class="fa fa-balance-scale"></i> Passiu </span>
        <div class="count">{{ passiu_total }} € </div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-desc"></i>18% </i> Del mes anterior</span>
      </div>
    </div>
    <div class="animated flipInY col-md-4 col-sm-4 col-xs-4 tile_stats_count">
      <div class="left"></div>
      <div class="right">
        <span class="count_top"><i class="fa fa-user"></i> Projectes en curs</span>
        <div class="count">{{ nombre_projectes_en_curs }}</div>
        <span class="count_bottom"><a href="/projectes">Veure tots els projectes</a></span>
      </div>
    </div>
  </div>
  <!-- /top tiles -->

  <!-- Alertes -->
  <div class="x_panel">
    <div class="x_title">
      <h2>Alertes</h2>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">
      <div class="row">

            <table class="table table-striped projects">
              <thead>
                <tr>
                  <th style="width: 20%">Alerta</th>
                  <th>Descripció</th>
                  <th>Color</th>
                  <th>Tipus</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>

                {% for alerta in alertes %}

                  <tr>
                    <!-- Nom -->
                    <td>
                      <a href="{{ alerta.uri }}">{{ alerta.nom }}</a>
                    </td>

                    <!-- Descripció -->
                    <td>
                      {{ alerta.descripcio }}
                    </td>

                    <!-- Color -->
                    <td style="width:30%; padding-right:10%">
                      {% if alerta.color == 'V' %}
                        <div class="progress">
                          <div class="progress-bar progress-bar-success" data-transitiongoal="100"></div>
                        </div>
                      {% elif alerta.color == 'A' %}
                        <div class="progress">
                          <div class="progress-bar progress-bar-warning" data-transitiongoal="50"></div>
                        </div>
                      {% elif alerta.color == 'R' %}
                        <div class="progress">
                          <div class="progress-bar progress-bar-danger" data-transitiongoal="25"></div>
                        </div>
                      {% endif %}
                    </td>
                  
                    <!-- Tipus -->
                    <td>
                      <a class="btn btn-success btn-xs" href="{{alerta.uri}}"></i> Examinar </a>
                    </td>
                  </tr>

                {% endfor %}

              </tbody>
            </table>

          </div>
    </div>
  </div>

  <!-- Gràfica inversió per objectiu -->
  <div class="x_panel">
    <div class="x_title">
      <h2>Inversió per objectiu</h2>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <canvas id="mybarChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- Gràfica projectes pendents d'aprovació -->
  <div class="row">
    <div class="col-md-6">

      <div class="x_panel">
        <div class="x_title">
          <h2>Projectes en curs</h2>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <div class="row">
            <table class="table table-striped projects">
              <thead>
                <tr>
                  <th style="width: 20%">Projecte</th>
                  <th>Descripció</th>
                  <th>Pressupost</th>
                  <th>Tipus</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>

                {% for projecte in projectes_en_curs %}

                  <tr>
                    <!-- Nom -->
                    <td>
                      <a href="/projectes/{{ projecte.id }}">{{ projecte.nom }}</a>
                    </td>

                    <!-- Descripció -->
                    <td>
                      {{ projecte.descripcio }}
                    </td>

                    <!-- Pressupost -->
                    <td>
                      {{ projecte.presupost }} €
                    </td>
                  
                    <!-- Tipus -->
                    <td>
                      {% if projecte.tipus == 'F2P' %}
                        Free to play
                      {% elif projecte.tipus == 'CO'%}
                        Convencional
                      {% elif projecte.tipus == 'ALT'%}
                        Altres
                      {% endif %}
                    </td>
                  </tr>

                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div> 
    </div> 

    <div class="col-md-6">
      <div class="x_panel">
        <div class="x_title">
          <h2>Projectes pendents d'aprovació</h2>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <div class="row">

            <table class="table table-striped projects">
              <thead>
                <tr>
                  <th style="width: 20%">Projecte</th>
                  <th>Descripció</th>
                  <th>Pressupost</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>

                {% for projecte in projectes_pendents %}

                  <tr>
                    <!-- Nom -->
                    <td>
                      <a href="/projectes/{{ projecte.id }}">{{ projecte.nom }}</a>
                    </td>

                    <!-- Descripció -->
                    <td>
                      {{ projecte.descripcio }}
                    </td>

                    <!-- Pressupost -->
                    <td>
                      {{ projecte.presupost }} €
                    </td>
                  
                    <!-- Botó examinar -->
                    <td>
                      <a class="btn btn-success btn-xs" href="/projectes/{{projecte.id}}"></i> Examinar </a>
                    </td>
                  </tr>

                {% endfor %}

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block scripts %}
	<script type="text/javascript">
		Chart.defaults.global.legend.display = false;
		// Bar chart
    var ctx = document.getElementById("mybarChart");
    var mybarChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [{% for objectiu in objectius %} "{{ objectiu.nom }}", {% endfor %} 'Patrimoni'],
        
        datasets: [{
          label: 'Pressupost €',
          backgroundColor: [
						{% for color in colors %}
							{% if color == 'rojo' %}
								"#d9534f",
							{% elif color == 'amarillo' %}
								"#F39C12",
							{% elif color == 'verde' %}
								"#82FA58",
							{% else %}
								"#C4C9CD",
							{% endif %}
						{% endfor %}
            "#3498DB"
          ],
          data: [{% for inversio in inversions %} "{{ inversio }}", {% endfor %} {{ pressupost_total }}]
        }]
      },

      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
	</script>
{% endblock %}